@model GamingSite.Models.Game

@{
    ViewBag.Title = "About";
}

<img src=@Model.ImageUrl>
<h3>Name:@Model.Name</h3>
<h3>Genre:@Model.Genre</h3>
<h2>Rating : <b>@Model.Rating</b></h2>
<h3>Release Year :@Model.ReleaseYear</h3>

