@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Game List</p>
        <p><a class="btn btn-default" href="~/Home/About">Games List &raquo;</a></p>
    </div>
</div>