@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <a href="Index.aspx"><img class="img-responsive" id="logo" src="~/Content/bionic1.png"></a>
    <div class="row">
        <div class="col-sm-8">
        </div>
        <div class="col-sm-4">
            <div id="conect">
                <a href="~/Account/Login"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-user"></span> Login</button></a>
                <a href="~/Account/Register"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-log-in"></span> Register</button></a>

            </div>
            <div class="social">
                <a href="https://www.facebook.com" target="_blank">
                    <img src="~/Content/facebook.png" width="60" height="60">
                </a>
                <a href="https://twitter.com/" target="_blank">
                    <img src="~/Content/tweet.png" width="60" height="60">
                </a>
                <a href="https://www.youtube.com/" target="_blank">
                    <img src="~/Content/youtube.png" width="60" height="60">
                </a>

            </div>

        </div>
    </div>
    <nav class="navbar navbar-inverse" id="navbar1">
        <div class="container-fluid">
            <div class="navbar-header">
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="~/Home/Index">Home</a></li>
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                    <li><a href="#">Page 4</a></li>
                    <li><a href="#">Page 5</a></li>
                    <li><a href="#">Page 6</a></li>
                </ul>
            </div>
        </div>
    </nav>
   </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/PageDesigner.css")
}