<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Model.Properties.Settings.ConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=GamingSite;User ID=GamingAdmin;Password=gaming1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>